body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  display: grid;
  grid-template-columns: 250px 1fr 200px auto;
  width: 100%;
  /* position: sticky; */
  background-color: #888;
}
.menu-container {
  display: inline-flex;
  justify-content: space-between;
  align-items: top;
}

.navbar a {
  float: left;
  text-align: left;
  padding: 0px 20px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  color: #3a3835;
  border-radius: 0.5rem;
}

.navbar a.active {
  background-color: #04aa6d;
  color: white;
  border-radius: 0.5rem;
}

.navbar .icon {
  display: none;
  color: white;
  padding: 0px 20px;
}
.addressbar {
  display: grid;
  align-items: top;
  height: 26px;
  grid-template-columns: 1fr 100px; /*100px 200px; */
  grid-gap: auto;
  overflow-wrap: break-word;
  align-items: top;
  padding: 4px;
  background-color: #fff;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.dropdown {
  float: left;
  overflow: hidden;
}
.searchBar {
  padding: 4px;
  align-items: right;
  text-align: right;
  float: right;
  display: block;
}
.searchBarbtn {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 2px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  cursor: pointer;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 2px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.show {
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
